[tool.poetry]
name = "mediathequeroubaix"
version = "0.0.1"
description = "Client for the library of Roubaix (Médiathèque Roubaix)"
authors = [
    "Thomas Queste <tom@tomsquest.com>",
]
license = "MIT"
readme = "README.md"

documentation = "https://tomsquest.github.io/mediathequeroubaix.py"
homepage = "https://tomsquest.github.io/mediathequeroubaix.py"
repository = "https://github.com/tomsquest/mediathequeroubaix.py"

classifiers = [
  "Programming Language :: Python :: 3.10",
  "Typing :: Typed",
]

packages = [
    { include = "mediathequeroubaix", from = "src" }
]

[tool.poetry.dependencies]
python = "3.10.7"

[tool.poetry.dev-dependencies]
autoflake = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-eradicate = "*"
flake8-logging-format = "*"
isort = "*"
mkdocstrings = "*"
mkdocs-material = "*"
mypy = "*"
pep8-naming = "*"
pre-commit = "*"
pymdown-extensions = "*"
pytest = "*"
pytest-github-actions-annotate-failures = "*"
pytest-cov = "*"
python-kacl = "*"
pyupgrade = "*"
tryceratops = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
src_paths = ["src", "tests"]

[tool.black]
include = '\.pyi?$'

[tool.pytest.ini_options]
addopts = """\
    --cov mediathequeroubaix.py \
    --cov tests \
    --cov-report term-missing \
    --no-cov-on-fail \
"""

[tool.coverage.report]
exclude_lines = [
    'if TYPE_CHECKING:',
    'pragma: no cover'
]

[tool.mypy]
disallow_any_unimported = true
disallow_untyped_defs = true
no_implicit_optional = true
strict_equality = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_return_any = true
check_untyped_defs = true
show_error_codes = true
